/* .diagonal-box{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    transform: skewY(-11deg);
} 

.diagonal-box:before {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(-11deg);
}

.content { 	
	max-width: 50em;
    margin: 0 auto; 
    transform: skewY(11deg);
} */

.content{
    background-image: rgb(211,211,211,0.5, (url('assets/img/inter.jpg')));
    background-position: center;
    background-size: cover;
}

.logincard{
    background: rgb(211,211,211,0.5);
}

#logincard{
    background: rgb(211,211,211,0.5);
}

img {
 width: 100%; 
 height: 100%; 
}

/* .card :hover{
    opacity: 0.3; 
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform .5s ease; 
    transition-delay: transform .10s ease;
    transform: scale(0.9);
    transition: .5s ease;
   backface-visibility: hidden;
} */

.logoo{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



h2{
    font-family:Arial, Helvetica, sans-serif;
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-style: italic;
}

h3{
    margin-top: 5%;
}

p{
    margin-top: 2%;
}

a{
    color: black;
}
.wrapper{
    position: relative;
}

.nav{
    position: absolute;
    width: 10px;
    left: 90px;
}

.sidebar{
    font-size: x-large;
 }

 .fa-star:hover{
    color:orange;
 }